@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model List<MyMentor.Models.Course>

@{
    Layout = "~/Views/Shared/_Inside.cshtml";
    ViewData["Title"] = "Courses";
    ViewData["role"] = "Admin";
}


<div class="col-md-12">
    <form method="post">
        <div class="pull-right">
            <b>Add new course</b>
            <br />
            <br />
            <input type="text" name="courseName" />
            <button asp-action="New" type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>

<div class="container mt-3 mb-4">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                    <table class="table manage-candidates-top mb-0">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th class="text-center">Status</th>
                                <th class="action text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="candidates-list">
                                    <td class="title">
                                        <div class="candidate-list-details">
                                            <div class="candidate-list-info">
                                                <div class="candidate-list-title">
                                                    <h5 class="mb-0">@item.Name</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="candidate-list-favourite-time text-center">
                                        @if (item.Active)
                                        {
                                            <span class="candidate-list-time order-1">Active</span>
                                        }
                                        else
                                        {
                                            <span class="candidate-list-time order-1">Disabled</span>
                                        }
                                    </td>
                                    <td>
                                        <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                            @if (item.Active)
                                            {
                                                <li><a asp-action="Status" asp-route-id="@item.Id" class="text-danger" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a asp-action="Status" asp-route-id="@item.Id" class="text-info" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i></a></li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>