@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="heading">
    <h1 class="text-danger">@ViewData["Title"]</h1>
</div>

<header>
    <p class="text-danger normal">You do not have access to this resource.</p>
</header>
