@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="heading">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container">
    <div class="row py-1 mt-4 align-items-center">

        <!-- Forgot Password Form -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <form method="post">
                <div class="row">

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input asp-for="Input.Email" class="form-control border-left-0 border-md" type="text" placeholder="Email Address" />
                    </div>

                    <!-- Errors -->
                    <div class="input-group col-lg-12 mb-4">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-primary btn-block py-2">
                            <span class="font-weight-bold">Submit</span>
                        </button>
                    </div>

                </div>
            </form>
        </div>

        <!-- For Demo Purpose -->
        <div class="col-md-5 col-md-offset-2 ml-auto">
            <img src="https://res.cloudinary.com/dd9hvrpuv/image/upload/v1617127344/forgot-password-concept-illustration_114360-1123_hmirrj.jpg" alt="" class="img-fluid mb-3 d-none d-md-block">
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js"></script>
}
